*{
    padding: 0;
    box-sizing: border-box;
    margin:0;
}



header{
    width: 100%;
    height: 70px;
    /* background-color:#000; */
   
    
}

.conteudo{
    margin-right: auto;
    margin-left: auto;
    width: 1400px;
    height: inherit;
   background-color:#ffffff;
   box-shadow:0px 3px 13px #cfcfcf;
}
.conteudoBanner{
    margin-right: auto;
    margin-left: auto;
    width: 1400px;
    height: inherit;
   /* background-color:blue; */
 
}
.conteudoComentario{
    margin-right: auto;
    margin-left: auto;
    width: 1400px;
    height: inherit;
   /* background-color:blue; */
 
}

.banner{
	position: relative;
}

.banner > #left{
	position: absolute;
	width: 80px;
	height: 100%;
	left: 0;
	z-index: 1;
	background-color: #fff3;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: white;
}

.banner > #right{
	position: absolute;
	width: 80px;
	height: 100%;
	top: 0;
	right: 0;
	z-index: 1;
	background-color: #fff3;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: white;
}

.banner > #container{
	height: 600px;
	width: 100%;
}

#logo{
    width: 150px;
    height: inherit;
    /* background-color: khaki; */
    float: left;
   
}

#imgLogo{
    width:120px;
    height: inherit;
    margin-left: 25px;
}


#carrinho{
    width: 100px;
    height: inherit;
    /* background-color: lightcoral; */
    margin-right: 100px;
    float:left;
     margin-left: 875px;
}

#imgCarrinho{
    width: 70px;
    height: 50px;
    margin-top: 15px;
    margin-left: 35px;
    
}

#login{
    width: 120px;
    height: inherit;
    /* background-color: lawngreen; */
    float: right;
  
    margin-right: 50px;
}

#btnLogin{
    background: red;
    color: white;
    height: 50px;
    width: 120px;
    font: bold 15px arial, sans-serif;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 5px;
    border: none;
}

#btnLogin:hover{
    cursor: pointer;
    /* background-color: #cccccc; */
}

.banner{
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-image: url(../img/banner1.jpg); */

}
.imagem{
    width: 100%;
    height: 500px;
    margin-top: 40px;
    
}

#uniao{
    width: inherit;
    height: 50px;
    /* background-color: blueviolet; */
}


#pesquisar{
    width: 500px;
    height: 55px;
    /* background-color: firebrick; */
    float: left;
    margin-top: 10px;
    margin-left: 300px;
 
}
input::placeholder {
    color: #c4c4c4;
      font-size: 1.2em;
      padding-left: 50px;
  }
#iptPesquisar{
    border: none;
    outline: none;
    width: inherit;
    height: 30px;
    /* background-color: khaki; */
    border-radius: 300px;
    box-shadow:0px 3px 13px #bfbfbf;
    background-image: url(../img/pesquisar.PNG);
    background-repeat: no-repeat;
    padding-left: 40px;
    color: #000;
    font-size: 1.0rem;
   
}
#sltFiltro{
    width: 100px;
    height: 50px;
    float: right;
    margin-right: 100px;
    padding-right: 100px;
  
}

#filtro{
    background-color: #ffffff;
    color: black;
    outline: none;
    width: 130px;
    height: 20px;
    margin-top: 15px;
    border:none;
    box-shadow:0px 3px 13px #bfbfbf;
}

#filtro:hover{
    cursor: pointer;
  
}


#produtos{
       /* background-color:red; */
        min-height: 1500px;
        height: auto;
        width: 1400px;
        /* margin-left: auto;
        margin-right: auto; */
        /* margin-top: 12px; */
        overflow: auto;
    }
    
    .cards{
        width: 430px;
        height:auto;
        min-height: 520px;
        overflow: auto;
        float: left;
       margin-left: 27px;
        margin-bottom: 10px;
        /* background-color:blue; */
        box-shadow:0px 20px 15px #cfcfcf;
        border-radius: 20px;
        margin-top: 30px;
    }
    
    .imgCard{
        width: 390px;
        height: inherit;
        display: flex;
        margin-left: 10px;
        margin-top: 12px;

    }
    
    .cards:hover{
         transform: scale(1.1);
        transition: 1s;
          cursor: pointer;
        
    }
    
    
    .imagemCards{
        width: 320px;
        height: 200px;
        background-size: cover;
    }
    
    
    .sobreProduto{
        background-color: tomato;
        height:220px;
        width: inherit;
        margin-top: 10px;
    
    }

    .preco{
        margin-top: 10px;
    }
    .moeda{
        float: left;
        padding-left: 30px;
    }
    .precoMoeda{
        float: left;
        color: khaki;
        padding-left: 13px;
        padding-top: 5px;
        font-size: 1.8em;
    }

    h3{
        font-size: 1.2em;
        color: black;
        font-family: verdana;;
    }

    .nomeProduto{
        width: inherit;
        margin-top: 10px;
        height: 40px;
        margin-bottom:50px;
        padding-top: 10px;
        padding-left: 30px;
       /* background-color: darkred; */
       clear: both;
    }

    .adicionar{
        /* background-color: lawngreen; */
    }
    .btnAdicionar{
        width: 100px;
        border: 0;
        color: #ffffff;
        height: 30px;
        border-radius: 300px;
        background-color: #0074B5;
        margin-left: 30px;
    }


    /*Estilo do usuario logado  */
    .perfil{
        width: 60px;
        height: 60px;
        /* background-color: khaki; */
        border-radius: 500px;
        float: right;
        margin-top: 4px;
        margin-right: 50px;
    }
    .qntdMoedas{
        width: 150px;
        height: 50px;
        /* background-color: red; */
        float: left;
        margin-left: -350px;
        margin-top:10px;
    }

    #fotoValor{
        width: 50px;
        height: 45px;
        /* background-color: blue; */
        float: left;
    }
    .imagemValor{
        width: inherit;
        height: inherit;
    }
    #valorMoedas{
        width: 90px;
        height: 50px; 
        /* background-color: brown; */
        float: left; 
        color: khaki;
        padding-left: 13px;
        padding-top: 10px;
        font-size: 1.8em;
    }

    #imagemPerfil{
        width: 60px;
        height: 60px;
        border-radius: 500px;
        margin-top: -13px;
    }

    #imagemPerfil{
        cursor: pointer;
        background-color: slategrey;
    }

    .comentarios{
         /* background-color:red; */
         min-height: 1500px;
         height: auto;
         width: 1400px;
         overflow: auto;
    }
    h1{
        font-size: 2em;
        font-family: verdana;
        text-transform: uppercase;
    }

    .tituloComentarios{
        margin-top: 5px;
        margin-left: 30px;
    }

    .comentarioAluno{
        min-height: 300px;
        height: auto;
        width: 600px;
        /* background-color: springgreen; */
        overflow: auto;
        margin-top: 50px;
        margin-left: 25px;
        float: left;
    }
    .imagemAluno{
        width: 170px;
        height: 170px;
        /* background-color: tan; */
        margin-left: 15px;
        margin-top: 20px;
        float: left;
    }
    #imgAluno{
        width: inherit;
        height: inherit;
    }
    .nomeAluno{
        width: 380px;
        min-height: 180px;
        height: auto;
        /* background-color: tomato; */
        float: left;
        margin-left: 10px;
        margin-top: 20px;
    }
    h3{
        font-size: 1.8em;
        padding-top: 25px;
        padding-left: 3px;
        font-family: verdana;
        color: black;
    }

    .todoComentario{
        width: inherit;
        min-height: inherit;
        height: auto;
        /* background-color:chocolate; */
        /* top: 50px; */
        clear: both;
    }

    p{
        width: inherit;
        min-height: inherit;
        height: auto;
        font-size: 1.8em;
        font-family: verdana;
        padding-top: 10px;
        padding-left: 15px;
        color: black;
    }


 /* Menu */
 #menu{
    /*    background-color: darkgoldenrod;*/
        width: 950px;
        height:inherit;
        float: left;
        margin-left: 10px;
    /*    margin-left: 220px;*/
    }
    
    
    #listaMenu{
        width:inherit;
        height:inherit;
    /*    background-color: fuchsia;*/
    }
    
    #listaMenu li{
        width: 190px;
        height: 70px;
        list-style: none;
        float: left;
    /*    background-color: darkgrey;*/
        padding-top: 33px;
        padding-left: 18px;
        color:aliceblue;
         font-family: verdana;
        letter-spacing: 4px;
        font-size: 1.2em;
        text-align: center;
        text-transform: uppercase;
    }
    #listaMenu li:hover{
    /*    background-color: chocolate;*/
        color: chocolate;
        cursor: pointer;
    }

    #caixas{
        position: relative;
    }

    .conteudoMenu {
        margin-right: auto;
       margin-left: auto;
       width: 2000px;
       height: inherit;
    
   
   }
   
   
   
   #imgHamburg{
       width: 60px;
       height: 40px;
       padding-left: 15px;
       padding-top: -10px;
   }
   
   #imgHamburg:hover{
       color: aliceblue;
       cursor: pointer;
   }
   
   #menuHam{
       width: 100px;
       height:inherit;
       margin-left: 1200px;
       position: absolute;
       z-index: 999;
   }
   #menuhamburg{
       background-color: white;
       width: 240px;
       margin-top: -1320px;
       height: 300px;
       position: absolute;
    
   }
   input[type="checkbox"]:checked ~ nav{
       transform: translateY(1320px);
   }
   
   input[type="checkbox"]{
      display: none;
   }
   #ulHamburg{
       list-style: none;
      margin-top: 60px;
       position: absolute;
       width: 100%;
   }
   
   #ulHamburg{
       font-size: 1.1em;
       font-family: verdana;
   }
   
   .linkMenu{
   /*    background-color: red;*/
       display: block;
       padding-top: 20px;
       padding-bottom: 20px;
       padding-left: 5px;
       padding-right: 5px;
       color: black;
      
   }
   
   .linkMenu:hover{
       color: #000;
       box-shadow:0px 20px 15px #cfcfcf;
       border: solid 0.5px #cfcfcf ;
        background-color: #fc9797;
        color: #fff;
       
   }
   
   #lblHamburg{
   /*    background-color: aliceblue;*/
       padding: 15px;
       position: absolute;
       z-index: 1;
   }
   a{
       text-decoration: none;
       color: black;
     
   }
 