*{
    padding: 0px;
    margin: 0px;
    
}

#telaPedidos{
    width: 1440px;
    min-height:600px;
    background-color: gainsboro;
    margin: auto;
    
}



#tooBar{
    width: 1440px;
    height: 68px;
    background-color: #C4C4C4;
    /* margin-bottom: 100px; */
    
}

#fundo{
    width: 1440px;
    min-height: 600px;
    background-color:#F4F4F4;/*#F4F4F4;*/
    padding-top: 109px;
    box-sizing: border-box;
   padding-bottom: 30px;

    
   
    
}



#card{
    width:1339px;
    height: 416px;
    background-color:#FFFFFF;
/*    margin: auto;*/
    margin-left:51px;
    margin-right: 51px;
    box-shadow: inset 0px 15px 20px 0px gainsboro;
    margin-bottom: 110px;
    
}


#img{
    width: 214px;
    height: 162px;
    background-color: #FFFFFF;
    margin-top:74px;
    margin-left: 62px;
    
}

#linha{
    width: 1254px;
    height: 20px;
    background-color:lawngreen;
    border-radius: 560px;

    margin-left: 42px;
    margin-top: 66px;
        
}

#titulos{
    width: 220px;
    height: 162px;
    background-color: #FFFFFF;
    float: right;
    margin-top: 74px;
    margin-right: 820px;
}
   
 

.produto{
    font-size: 1.2em;
    padding-top: 20px;
    padding-left:5px;
}

#descricao{
   
    font-size: 1.2em;
    padding-top: 20px;
    color: black;
    padding-left:5px;
}



#vendas{
font-size: 1.2em;
    padding-top: 30px;
    padding-left:5px;
    
}

#entrega1{
   font-size: 1.2em;
    margin-top: -60px;
    margin-bottom: 35px;
    margin-left: 51px;
  
  

    
    
}

#pedido{
    font-size: 1.3em;
    padding-top: 24px;
    padding-left:36px; 
    float: left;
    

}
    
#entrega{
     font-size: 1.3em;
    padding-top: 24px;
    padding-right: 1000px;
   float: right;
}

