
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    width: 100%;
    height: 100%;
    /* background-color: khaki; */
    display: flex;
}

.conteudoDireita{
    flex: 4 0 90%;
    height: 100%;
     background-color: lightcoral; 
    float: left;
}

.conteudoEsquerda{
    flex: 0 1 10%;
    width: 8;
    height: 100%;
    /* background-color: blue; */
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgApm{
    width: 50%;
    height: 30%;
    /* background-color: lightgreen; */
   

}



#imgDash{
    width:37%;
    height: 30%;
  

    
}


.tituloDash{
    width: 100%;
    height: 100px;
    /* background-color: lawngreen; */
    margin-top: 10px;
}

.menuDrop{
    width: 100%;
    height: 480px;
    /* background-color: lightcoral; */
    margin-top:180px;
    padding-top: 10px;
    padding-left: 10px;
    
}

li{
    width: inherit;
    height: 100px;
    list-style: none;
    font-size: 4.2em;
    margin-top: 60px;
    font-family: verdana;
    padding-left: 60px;
    padding-bottom: 50px;
    /* list-style-image:url(../img/moedaLi.PNG); */
   
}

li:hover{
    cursor: pointer;
    background-color: aqua;
    /* display: flex;
    justify-content: center;
    align-items: center; */
   
}

/* li::marker{
  font-size:4.2em;
  } */


  .menuDeitado{
      width: 100%;
      height: 10%;
      
      /* background-color: red; */
  }
  #moedasP{
      width: 300px;
      padding-top: 50px;
      padding-left: 30px;
      height: inherit;
      margin-left: 500px;
      margin-bottom: 30px;
      /* margin-top: 200px; */
      /* box-shadow: 5px 5px 10px black; */
      /* background-color: khaki; */
      float: left;
  }
  #imgSetinha{
    width: 300px;
    height: inherit;
      float: left;
     margin-top: 50px;
      margin-right: -1000px;
      /* background-color: blue; */
  }
  #imagemSetinha{
      width: 70px;
      height: 70px;
  }
  h3{
      font-size: 3em;
      font-family: verdana;
  }

  #pp{
    width: 500px;
    height: inherit;
    margin-top: 50px;
    margin-left: 150px;
      float: left; 
  }

  .conteudoTodo{
      display: block;
      width: 100%;
      height: auto;
      overflow:hidden;
      min-height: 90%;
      background-color: #ffffff;
      margin-top: 5px;
      box-shadow: 5px 5px 10px black;
  }